* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
}

.title {
  text-align: center;
  color: #fff027;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
a {
  text-decoration: none;
}
