.main {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
}

h1 {
  font-family: 'Russo One', sans serif;
}

.poster {
  max-width: 100vw;
  max-height: 70vh;
  overflow: scroll;
}

.mainContent {
  margin: 3%;
}

h2,
.Cast,
.Plot,
.trailerTitle {
  font-size: 1.8em;
  color: #fff129;
  text-align: left;
  font-family: 'Russo One', sans serif;
}

.castContainer {
  width: 100%;
  display: flex;
  flex-direction: row;
  overflow-x: scroll;
}

.castPictures {
  width: 100px;
  height: 100px;
  padding: 1%;
  border-radius: 15px;
}

.actorsInfo {
  font-size: 1em;
  text-align: center;
}

p {
  font-size: 20px;
  color: #fcfdef;
  font-family: 'Roboto', sans serif;
}

.shareOnSocialMedia {
  width: 200px;
  margin: 2%;
}

.year {
  color: #a6b7bb;
}

.rating {
  color: #fff027;
}

.moviePlot {
  font-size: 18px;
  text-align: justify;
  margin: 1%;
}

.trailer {
  width: 90vw;
  margin: 2% auto;
}

@media screen and (min-width: 600px) and (orientation: landscape) {
  .main {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
  }
  .poster {
    max-width: 100vw;
    max-height: 40vh;
    overflow: hidden;
  }
}
