.main {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.poster {
  width: 100%;
  height: 55vh;
}

h2,
.Cast {
  font-size: 1.8em;
  color: #fff129;
  text-align: left;
}

.castContainer {
  display: flex;
  flex-direction: row;
}

.castPictures {
  width: 35%;
  padding: 1%;
  margin: 2%;
}

p {
  font-size: 18px;
  color: #fcfdef;
}

.shareOnSocialMedia {
  width: 200px;
}

span {
  color: #fff129;
}
