.main {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
}

.shareOn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.shareText {
  color: #a6b7bb;
}

h1 {
  font-family: 'Russo One', sans serif;
}

.poster {
  max-width: 100vw;
  max-height: 70vh;
}

.posterCover {
  display: none;
}
.mainContent {
  margin: 3%;
}

h2,
.Cast,
.Plot,
.trailerTitle {
  font-size: 1.8em;
  color: #fff129;
  text-align: left;
  font-family: 'Russo One', sans serif;
  margin: 5% 0%;
}

.castContainer {
  width: 350px;
  height: 100%;
  display: flex;
  flex-direction: row;
  overflow-y: scroll;
}

.castPictures {
  width: 100px;
  height: 100px;
  border-radius: 15px;
  margin: 5px;
}

.actorsInfo {
  text-align: center;
}

p {
  font-size: 20px;
  color: #fcfdef;
  font-family: 'Roboto', sans serif;
}

.actorsInfo > p {
  font-size: 15px;
}

.shareOnSocialMedia {
  width: 40%;
  height: 20%;
  margin: 2%;
}

.year {
  color: #a6b7bb;
}

.rating {
  color: #fff027;
}

.moviePlot {
  font-size: 18px;
  text-align: justify;
  margin: 1% 2%;
}

.trailer {
  width: 85vw;
  border-radius: 10px;
  margin: 2% 0%;
  border: 2px solid #fff027;
}

@media screen and (min-width: 600px) {
  .main {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
  }

  .Cast,
  .Plot,
  .trailerTitle {
    margin: 3% 2%;
  }

  .mainContent {
    margin: 5% 8%;
  }

  .poster {
    max-width: 30vw;
    border-radius: 10px;
    margin-top: -10%;
  }

  .infoContainer {
    margin: 2% 10%;
    display: flex;
    align-items: flex-start;
    overflow: visible;
    z-index: 1;
  }

  .castContainer {
    width: 620px;
    height: 100%;
  }

  .castPictures {
    width: 150px;
    height: 150px;
    margin: 10px;
  }

  .trailer {
    width: 80vw;
    height: 50vh;
  }
}
