/************************************************************ GRAND ECRAN ****************************************/

h1 {
  text-align: center;
  color: #ffffff;
  padding-top: 10px;
  font-family: 'Russo One', sans-serif;
}
h3 {
  color: #ffffff;
  max-width: 700px;
  margin-bottom: 20px;
  font-size: 20px !important;
  text-align: center;
}

.overlay {
  position: absolute;
  width: 80%;
  padding-top: 50px;
}
.videoBg {
  opacity: 0.7;
  width: 100%;
  height: 100%;
  filter: brightness(40%);
  object-fit: cover;
}

.welcome {
  color: white;
}

.generalContainer {
  margin: 0;
}

.homeContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-size: cover;
  width: 100%;
  height: 88vh;
  border-color: #fff027;
}

.homeContainerTwo {
  /*background-color: #486064;*/
  padding-top: 40px;
}

.workContainer {
  display: flex;
  justify-content: space-between;
  margin-left: auto;
  margin-right: auto;
  padding-top: 50px;
}

.descriptionContainer {
  border: 4px solid #fff027;
  text-align: center;
  /*background-color: #32474d;*/
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 10px;
}

.icons {
  padding: 4px;
}

.underTitle {
  margin-left: auto;
  margin-right: auto;
}

.underTitle-2 {
  font-size: 'Roboto', sans-serif;
  width: 70%;
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
  font-size: 14px;
}

.blockButton {
  margin-top: 40px;
  text-align: center;
}

.actionBtn {
  background-color: #fff027;
  text-decoration: none;
  color: rgb(78, 78, 78);
  padding: 0.5rem 3rem;
  border: 3px solid #fff027;
  border-radius: 10px;
  font-size: 20px;

  font-weight: bold;
  cursor: pointer;
  letter-spacing: 0.07rem;
}

.actionBtn:hover {
  background-color: #32474d;
  color: rgb(255, 255, 255);
}

/************************************************************ mediaquery ****************************************/

@media only screen and (max-width: 860px) {
  .title {
    font-size: 28px !important;
  }

  .social-container {
    display: none;
  }

  .underTitle {
    font-size: 16px;
    margin-top: 40px;
  }

  .homeContainer {
    width: 100%;
  }
  .workContainer {
    display: flex;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    flex-direction: column;
  }

  .descriptionContainer {
    margin: 20px;
  }

  .icons {
    margin-left: 10px;
  }
}

@media only screen and (min-width: 860px) and (max-width: 1240px) {
  .workContainer {
    display: flex;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    flex-direction: column;
  }

  .overlay {
    position: absolute;
    width: 80%;
    padding-top: 50px;
  }
  .videoBg {
    opacity: 0.7;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .underTitle {
    font-size: 18px;
  }

  .homeContainer {
    height: 110vh;
  }

  .homeContainerTwo {
    margin-top: 10px;
  }

  .descriptionContainer {
    margin: 20px;
  }
}
