@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Russo+One&display=swap');

html,
body,
#root {
  height: 100%;
  display: flex;
  flex-direction: column;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Roboto';
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
    'Lucida Sans', Arial, sans-serif, Roboto, Russo One;
}

header,
footer {
  background-color: #32474d;
  color: white;
  padding: 10px;
}

main {
  flex-grow: 1; /*j'ai enlevé le le padding 10px car trop de soucis*/

  flex-grow: 1;
  background-color: #486064;
}

p {
  color: #fcfdef;
}

nav a {
  margin-right: 10px;
  color: white;
  text-decoration: none;
  font-size: 18px;
}
footer {
  background: #32474d;
  color: #fcfdef;
  padding: 12px;
}
