@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Russo+One&display=swap');

html,
body,
#root {
  height: 100%;
  display: flex;
  flex-direction: column;
  margin: 0;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
    'Lucida Sans', Arial, sans-serif;
}

header,
footer {
  background-color: #32474d;
  color: white;
  padding: 10px;
}

main {
  flex-grow: 1; /*j'ai enlevé le le padding 10px car trop de soucis*/
}

nav a {
  margin-right: 10px;
  color: white;
  text-decoration: none;
}
nav {
  display: flex;
  justify-content: space-around;
}
