@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
.navbar {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 70px;
  color: #fcfdef;
  background-color: #32474d;
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  text-decoration: none;
  z-index: 2 !important;
}
.navbar ul {
  display: flex;
  align-items: center;
  list-style-type: none;
}
nav a {
  text-decoration: none;
  justify-content: center;
  align-items: center;
}
.yellow {
  color: #fff027;
}
.logo {
  max-height: 3.5em;
  margin-top: -10px;
}
.logo:hover {
  transform: scale(1.4);
  transition-duration: 0.3s;
}
.navbar_link {
  align-items: center;
  padding: 0 2rem;
  justify-content: space-between;
  text-decoration: none;
  color: inherit;
}
.navbar_link:hover {
  color: #fff027;
}
.btnBurger {
  width: 40px;
  height: 40px;
  display: none;
  background: transparent;
  border: none;
  color: inherit;
}

@media screen and (max-width: 700px) {
  .navbar {
    z-index: 100 !important;
  }
  .navbar ul li a {
    font-size: 23px;
  }
  .items {
    flex-direction: column;
    justify-content: center;
    position: fixed;
    right: -100vw;
    width: 0;
    bottom: 0;
    height: 145vh;
    padding: 1rem;
    visibility: hidden;
    left: 0;
    align-items: center;
    background: #32474d;
    transition: all 0.3s ease-in-out;
  }

  .show-nav .items {
    width: 100vw;
    right: 0;
    visibility: visible;
  }
  .navbar_link {
    display: block;
    padding: 1rem;
    font-size: 3vw;
    color: #fcfdef;
  }
  .Burger_Line,
  .Burger_Line::before,
  .Burger_Line::after {
    display: block;
    width: 35px;
    height: 3px;
    position: relative;
    border-radius: 5px;
    background: #fff027;
    transition: all 0.5s ease-in-out;
    z-index: 100 !important;
  }

  .Burger_Line::before,
  .Burger_Line::after {
    content: '';
    position: absolute;
  }
  .navbar_item::after {
    content: '';
    display: block;
    margin: 0 auto !important;
    width: 3vw !important;
    height: 1px !important;
    background: #fcfdef !important;
  }

  .navbar_item:last-child::after {
    display: none;
  }
  .Burger_Line::before {
    transform: translateY(-8px);
  }
  .Burger_Line::after {
    transform: translateX(-10px);
  }
  .Burger_Line::after {
    transform: translateX(-10px);
  }

  .show-nav .Burger_Line::before {
    transform: rotate(60deg);
  }
  .show-nav .Burger_Line::after {
    transform: rotate(-20deg);
  }
  .show-nav .Burger_Line {
    width: 0;
    background: transparent;
  }

  .towLine,
  .towLine::before,
  .towLine::after {
    display: block;
    width: 35px;
    height: 3px;
    position: relative;
    border-radius: 4px;
    background: #fff027;
  }
  .towLine::before {
    transform: translateY(-12px);
    width: 22px;
    left: 9px;
  }

  .show-nav .towLine::before {
    width: 37px;
  }
  .show-nav .towLine::after {
    width: 37px;
  }
  .towLine::after {
    transform: translateY(10px);
    width: 22px;
    left: 6px;
  }
  .btnBurger {
    display: block;
    position: absolute;
    top: 1rem;
    right: 1rem;
    cursor: pointer;
  }
  .btnBurger:hover {
    cursor: pointer;
  }

  .navbar_item {
    transform: translateY(100vh) !important;
  }
  .show-nav .navbar_item {
    transform: translateY(0) !important;
  }
  .show-nav .slideInDown-1 {
    transition: all 1.2s ease-out !important;
  }
  .show-nav .slideInDown-2 {
    transition: all 1.3s ease-out !important;
  }
  .show-nav .slideInDown-3 {
    transition: all 1.4s ease-out !important;
  }
}
