.question_title {
    font-family: 'Russo One';
    font-style: normal;
    font-weight: 300;
    text-align: center;
    color: #FFF027;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5);
}
.question {
    font-family: 'Russo One';
    text-align: center;
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 43px;
    color: #FFFFFF;
}
.question_card {
    text-align: center;
    align-items: center;
    margin-left: 40px;
}
.cards{
    display: flex;
    text-align: center;
    align-items: center;
    padding: 10px;
    flex-wrap: wrap;
}
.card {
    flex-basis:30%;
    padding: 20px 10px 50px 0px;
    margin: 5px;
    background:#32474D;
    border: 3px solid #FFF027;
    box-sizing: border-box;
    border-radius: 20px;
}
.CategoryName {
    color:#FCFDEF;
    font-family: 'Russo One';
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
}

@media all and (max-width: 767px) 
    {
    .question_title {
        font-family:'Russo One';
        font-weight:400;
        font-size: 30px;
        line-height: 36px;
    }
    .question {
        font-family:'Roboto';
        font-weight:bold;
        font-size:18px;
        line-height:25px;
    }
    .question_card {
        margin-left: 30px;
    }
    .cards {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        margin-left: -125px;
        padding-top: 20px;
        text-align: center;
        align-items: center;
    }
    .card {
        /* flex: 1; */
        width: 100px;
        height: 100px; 
        background-color:#32474D;
        margin-bottom: 25px;
        text-align: center;
        align-items: center;
    }
    .CategoryName {
        padding-left: 7px;
        padding-top: 12px;
    }

}
