.question_title {
  font-family: 'Russo One';
  font-style: normal;
  font-size: 45px;
  font-weight: 300;
  text-align: center;
  color: #fff027;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5);
  margin: 30px 0 20px 0;
}
.question {
  font-family: 'Russo One';
  padding: 15px !important;
  margin: 30px;
  text-align: center;
  font-style: normal;
  font-weight: 300;
  font-size: 35px;
  color: #ffffff;
}
.section_card {
  display: grid;
  align-items: center;
  justify-content: center;
  margin: 10px 0 40px 0;
}
.cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 10px 2em !important;
  padding: 10px !important;
  align-items: center;
  justify-content: center;
}
.card {
  width: 250px !important;
  height: 130px !important;
  margin: 5px;
  justify-content: center;
  align-items: center;
  background-color: #32474d;
  border: 3px solid #fff027;
  border-radius: 20px;
  z-index: auto !important;
  cursor: pointer;
  color: white;
  font-size: 30px;
  font-family: 'Roboto', 'sans serif';
  font-weight: bold;
}

.card:hover {
  background-color: #fff027;
  color: #32474d;
}

.card.selected {
  background-color: #fff027;
  color: #32474d;
}

.cercle {
  height: 70px;
  width: 70px;
  align-items: center;
  justify-content: center;
  margin-left: 315px;
  border-radius: 50%;
  background-color: #32474d;
  border: 2px solid #fff027;
  text-align: center;
}
.compteur {
  width: 40px;
  height: 40px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: bold;
  font-size: 28px;
  line-height: 65px;
  color: #fcfdef;
}

.click {
  background: red;
}
@media screen and (max-width: 700px) {
  .question_title {
    font-family: 'Russo One';
    font-weight: 400;
    font-size: 30px;
    line-height: 36px;
  }
  .question {
    font-family: 'Russo One';
    font-weight: normal;
    font-size: 22px;
    line-height: 25px;
    margin: 15px;
  }

  .card {
    width: 140px !important;
    height: 90px !important;
    font-size: 22px;
  }
  .cercle {
    height: 60px;
    width: 60px;
    margin: auto;
  }

  .compteur {
    font-size: 25px;
  }

  .compteur {
    font-size: 23px;
    line-height: 60px;
    color: #fcfdef;
  }

  .question_title {
    font-style: normal;
    font-size: 30px;
    font-family: 'Russo One', 'sans serif';
    line-height: 40px;
    color: #fff027;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5);
    margin: 30px 0 20px 0;
  }
  .section_card {
    margin: 10px;
  }
  .cards {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}
