.title-page {
  text-align: center;
  color: #fff027;
  padding: 20px;
  margin-bottom: 40px;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5);
}

.list-movie {
  display: flex;
  justify-content: center;
}

.movie {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.poster {
  border-radius: 20px;
  width: 270px;
  height: 400px;
  margin-left: 40px;
  margin-right: 40px;
  cursor: pointer;
}

.movie-details {
  margin: 5px;
  margin-bottom: 30px;
}

.year {
  text-align: center;
  color: #fff1277c;
  margin: 0px;
  font-weight: bold;
}

.title {
  text-align: center;
  margin: 0px;
  font-weight: bold;
}

.rating {
  color: white;
  text-align: center;
  margin: 0px;
  font-weight: bold;
}

@media (min-width: 350px) {
  .list-movie {
    flex-wrap: wrap;
  }
}
