.title-page{
    text-align: center;
    color: #FFF027;
    padding: 20px;
    margin-bottom: 40px;
}

.list-movie{
    display: flex;
}
.movie1{
    display: flex;
    align-items: center;
    flex-direction: column;
}

.movie2{
    display: flex;
    align-items: center;
    flex-direction: column;
}

.movie3{
    display: flex;
    align-items: center;
    flex-direction: column;
}

.poster{
    border-radius: 20px;
    width: 70%;
    height: 90%;
}

.year{
    text-align: center;
    color: #fff1277c
}

.rating{
    text-align: center;
}