.social-container {
  position: fixed;
  margin-top: 150px;
  right: 0;
  display: flex;
  background-color: #32474d5d;
  flex-direction: column;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.4);
}

@media only screen and (max-width: 900px) {
  .social-container {
    display: none;
  }
}
